<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <INPUT TYPE="hidden" name="charset" value="utf-8">
    <input type="hidden" name="business" value="higor.carvalho94@gmail.com">

    {loop="$products"}
    <input type="hidden" name="item_name_{$counter+1}" value="{$value.desproduct}">
    <input type="hidden" name="item_number_{$counter+1}" value="{$value.idproduct}">
    <input type="hidden" name="amount_{$counter+1}" value="{$value.vlprice}">
    <input type="hidden" name="quantity_{$counter+1}" value="{$value.nrqtd}">
    {/loop}
    <input type="hidden" name="shipping_1" value="{$order.vlfreight}">
    
    <input type="hidden" name="currency_code" value="BRL">  

    <input type="hidden" name="email" value="{$order.desemail}">
    
</form>
<script>
document.forms[0].submit();
</script>